.error-page {
  .error {
    // outline: 1px dashed orange;
    margin: 100px auto 0;
    width: 400px;
    background: lighten(black, 10%);
    border-radius: 60%;
    padding: 50px;

    &-message {
      text-align: center;
      // outline: 1px dashed lightblue;
      > h1 {
        color: red;
        font-size: 10rem;
        font-weight: bolder;
      }

      > p {
        position: relative;
        top: -100px;
        color: blue;
        background: white;
      }
    }
  }

  nav {
    text-align: center;
    font-size: 2rem;
    margin-top: 60px;
  }
}
