.login {
  margin: 25vh auto 0;
  max-width: 380px;

  h2 {
    margin-bottom: 30px;
    span {
      color: $brand-color;
      font-weight: bold;
      font-family: cursive;
      font-size: 1.8rem;
    }
  }

  .ui.form {
    width: 100%;
    min-width: 255px;

    .field {
      margin-bottom: 50px;
    }
  }
}
