@import "./scss/partials/variables.scss";
@import "./scss/partials/global_styles.scss";

$high-rank-gold: rgba(241, 214, 0, 1);
$leaderboard-header--color: #0078d7;
$small-text--color: darken(#eee, 25%);

@mixin high-rank-bg {
  background: rgb(241, 214, 0);
  background: linear-gradient(
    90deg,
    rgba(241, 214, 0, 1) 0%,
    rgba(245, 236, 168, 1) 68%,
    rgba(255, 255, 255, 1) 99%
  );
}

a:not(nav a) {
  color: inherit;
}

/* Util classes */
.center {
  text-align: center;
}

main {
  &.ui.container {
    margin-bottom: 100px;
  }

  h2.ui.header:first-child {
    margin-bottom: 2rem;
  }
}

.site-nav {
  margin-bottom: 30px;

  ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
  }
}

/* SiteHeader styles */
.site-header {
  padding-top: 8px;

  // brand & navigation

  .header-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h1.ui {
      display: inline-block;
      margin: 0;
      font-size: 1.3rem;
    }

    // profile icon
    .profile-header {
      text-align: center;

      .header-avatar {
        width: 60px;

        display: inline-block;

        img {
          height: 60px;
        }
      }

      .username {
        font-weight: bold;
        font-size: 0.8rem;
        text-transform: lowercase;
        margin-top: 5px;
      }
    }
  }
}

/* Poll Grid styles */
.polls .ui.segment {
  border: none;
  box-shadow: none;
}

/* Create Poll styles */
main .create-poll .ui.form {
  width: 60%;
  margin-top: 30px;

  input[placeholder] {
    font-style: italic;
  }

  div.field {
    margin-bottom: 40px;
    label {
      margin-bottom: 10px;
    }
  }
}

/* Leaderboard styles */
.leaderboard {
  h3 {
    font-size: 1.2rem;
    color: $leaderboard-header--color;
  }

  .user-rank-table tbody tr:first-child {
    @include high-rank-bg;

    td {
      font-weight: bold;
      font-size: 1rem;
    }
  }

  .ui.table {
    margin-bottom: 40px;
    width: 100%;
  }

  .user-rank-table td,
  .user-rank-table th {
    text-align: center !important;
  }
}

/* Poll/Card styles */

.poll-grid .ui.card,
.poll-results .ui.card {
  width: 300px;
  margin: 0;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 90px;

  & > :first-child {
    border-radius: 0 !important;
  }

  .content {
    padding: 5px;
    text-align: center;
    p {
      color: $small-text--color;

      &.poll-card-likes {
        color: #ffb900;
        font-weight: bold;
      }
    }
  }

  .header {
    background: $pattern-unanswered;
    padding: 10px 0;
  }

  .option {
    height: 80px;
    padding-top: 20px;
    font-weight: 600;
    font-size: 1.3rem;
    font-style: italic;
    line-height: 1.3;
  }

  .footer {
    text-align: left;
    display: inline-flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.8rem;
    font-style: italic;
  }
}

.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover {
  color: $tab-color;
  border-bottom-color: $tab-color;
}

.polls {
  .item > .ui.label {
    background: #cfcfcf;
    font-size: 0.8rem;
  }

  .active.item > .ui.label {
    background-color: $tab-color;
  }

  .poll-grid {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin: 0 auto;

    .ui.card {
      margin-right: 40px;
    }
  }
}

.ui.card > .content:after,
.ui.cards > .card > .content:after {
  content: none;
}

/* Poll Details & Results styles */
.poll-details {
  .user-info-author {
    font-weight: bold;
    font-size: 1rem;
  }

  .user-info-header {
    margin-bottom: 25px;
  }

  .user-info-body p {
    margin-bottom: 15px;
    font-size: 0.9rem;
    display: flex;

    span {
      display: inline-block;
    }

    .user-info-number {
      font-size: 1.3rem;
      margin-right: 20px;
      width: 40px;
      font-weight: 700;
    }
  }
}

.poll-results {
  .poll-results-cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
    margin: 50px auto 0;
  }

  .users-who-voted .heading {
    margin-right: 4px;
    font-weight: bold;
  }

  .ui.progress.poll-progress {
    margin-bottom: 5rem;

    .label {
      top: 170%;
    }
  }
}

.login {
  width: 35%;
  min-width: 255px;
  margin: 0 auto;

  .ui.form {
    width: 100%;
    min-width: 255px;
  }
}

/* Footer styles */
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  padding-top: 50px;
  background: #fff;
  p {
    color: #a6a6a6;
  }
}
